<html ng-app="invertedIndexApp">

<head>
    <title>Indexing gg</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller="BookController">
    <h1 class="header">Indexing App</h1>
    <div class="wrapper">
        <div class="main-div">
            <div class="main" id="upload-div">
                <p>Upload a valid json book that has a title and text property here</p>
                <br></br>
                <p>Don't have a file like that ? <span> Dont worry we'll create one for you to save locally... click create book to begin</p>
                <input id="bookFile" accept=".json" type="file" multiple>
                <select  ng-model="File" ng-options="file.name.replace('.json', '') for file in bookList">
                    <option value="" selected="selected">Select a Book File</option>
                </select>
                <button class= "btn" id ="btnUpload" onclick = "getFile()">upload</button>
                <button class="btn" id="btnCreateBook" onClick = "switchDiv(['upload-div'],['create-book-div'])">create book</button>
            </div>
            <div class="main" id="create-book-div" style="display:none;">
                <p>create a new book here</p>
                <br></br>
                <label for="bookName">Name:</label>
                <input id="bookName" type="text" name="bookName" ng-model="name">
                <br></br>
                <label for="bookTitle">Title:</label>
                <input id="bookTitle" type="text" name="bookTitile" ng-model="title">
                <br></br>
                <label for="bookText">Text:</label>
                <input id="bookText" type="text" name="bookText" ng-model="text">
                <br></br>
                <p ng-model>{{'[ { "title": "' + title +'", "text": "'+ text + '" } ]'}}</p>
                <a id = "link" style="display:none"></a>
                <button class= "btn" id ="btnUpload" onclick = "switchDivs(['create-book-div'],['upload-div'])">upload</button>
                <button class="btn" id="btnUpload" onclick="createBook()">done</button>
            </div>
            
    </div>
</div>
<script type="text/javascript" src = "index.js"></script>
</body>

</html>