<html ng-app="invertedIndexApp">

<head>
    <title>Inverted Index</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>

<body ng-controller="BookController">
    <h1 class="header">Indexing App</h1>
    <div class="wrapper">
        <div class="main-div">
            <div class="main" id="upload-div">
                <p>Upload a valid json book that has a title and text property here</p>
                <br></br>
                <p>Don't have a file like that ? <span> Dont worry we'll create one for you to save locally... click create book to begin</p>
                <select ng-model="fileSelection" ng-options="file.name for file in bookList">
                    <option value="" selected="selected">Select a Book File</option>
                </select>
                <!-- <button class= "btn" id ="btnUpload" onclick = "getFile()">upload</button> -->
                <input class="btn" id="bookFile" accept=".json" style="display: none" type="file" multiple>
                <label class="btn" for="bookFile">upload</label>
            <button class="btn" id="btnCreateBook" onclick="switchDiv(['upload-div'],['create-book-div'])">create book</button>   <button class="btn" type="button" ng-click="createIndex(fileSelection)">Create Index</button>
            </div>
            <div class="main" id="create-book-div" style="display:none;">
                <p>create a new book here</p>
                <br></br>
                <label for="bookName">Name:</label>
                <input id="bookName" type="text" name="bookName" placeholder = 'Enter the name of the file' ng-model="name">
                <br></br>
                <label for="bookTitle">Title:</label>
                <input id="bookTitle" type="text" name="bookTitle" placeholder = 'Enter the title of the book' ng-model="title">
                <br></br>
                <label for="bookText">Text:</label>
                <input id="bookText" type="text" placeholder="Enter a valid text/sentence, we would know you know" name="bookText" ng-model="text">
                <br></br>
                <!-- <p ng-model>{{'[ { "title": "' + title +'", "text": "'+ text + '" } ]'}}</p> -->
                <a id = "link" style="display:none"></a>
                <button class= "btn" id ="btnUpload" onclick = "switchDivs(['create-book-div'],['upload-div'])">upload</button>
                <button class="btn" id="btnUpload" onclick="createBook()">done</button>
                <button class="btn" id="btnUpload">done</button>
            </div>
            <div>
                <p> {{badMessage}}</p>
            </div>

    </div>
</div>
<script type="text/javascript" src = "./inverted-index-app/InvertedIndex.js"></script>
<script src="./js/index.js"></script>
<script type="text/javascript" src="./app/app.js"></script>

</body>

</html>